<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455077469000-butuggjn4eiu41b85brnfhkhb3q47fvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455077469000-butuggjn4eiu41b85brnfhkhb3q47fvr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>455077469000-t8adftm15oek6s97p0ccrrg6e2hivi4s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXD53cTyOJFb6mfQxiDBvG3nzjTaRXfm8</string>
	<key>GCM_SENDER_ID</key>
	<string>455077469000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.feur.freeroom</string>
	<key>PROJECT_ID</key>
	<string>free-room-zyu508</string>
	<key>STORAGE_BUCKET</key>
	<string>free-room-zyu508.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455077469000:ios:f060b9b2886703bf8b317d</string>
</dict>
</plist>